body{
    background-color: orange;
    margin: 0;
    padding: 0;
}

.roundResult, .scores {
    font-size: 24px;
    font-weight: bold;
    border: 2px solid red;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 44px;
}

.rps-btns{
    width: 140px;
    height: 80px;
    font-size: 32px;
}

.rps-btns:hover{
    background-color: aqua;
    cursor: pointer;
}

.rps-options-buttons{
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    
}

.gameLabels{
    font-size: 3rem;
    font-style: oblique;
    text-decoration: underline;
    color: brown;
}

.replayBtn{
    color:white;
    background-color:blue;
    font-size:32px; 
    margin-left:12px; 
    width:140px; 
    height:80px;
    display: none;

    &:hover {
        background-color:green;
        cursor: pointer;
    }
}

h1{
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
    background-color: pink;
}

footer{
    background-color:black;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    text-align: center;
}